<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Set grid_results to true and set search results as a grid instead of a list.
  This works well when your search is only for products.
{% endcomment %}
{% assign grid_results = false %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}

<section class="search">

{% paginate search.results by 10 %}

  <div class="grid">
    <div class="grid__item large--two-thirds push--large--one-sixth search-content">

      <h1 class="standard-index">{{ 'general.search.title' | t }}</h1>

      {% include 'search-bar' %}

      {% if search.performed %}
        {% if search.results_count == 0 %}
          <p class="feature-copy results">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
        {% else %}
          <p class="feature-copy results">{{ 'general.search.results_for_html' | t: terms: search.terms }}</p>
        {% endif %}
      {% else %}

      {% endif %}

      {% if search.performed %}

        <hr class="hr--clear">

        <div class="grid-uniform">
          {% for item in search.results %}

            {% comment %}
              Check if the product is on sale and set a variable to be used below.
            {% endcomment %}
            {% assign on_sale = false %}
            {% if item.compare_at_price > item.price %}
              {% assign on_sale = true %}
            {% endif %}

            {% comment %}
              Check if the product is sold out and set a variable to be used below.
            {% endcomment %}
            {% assign sold_out = true %}
            {% if item.available %}
              {% assign sold_out = false %}
            {% endif %}

            {% if grid_results == false %}
              <!-- begin list search results-->
              <div class="grid__item">
                <div class="grid">
                  {% if item.featured_image %}
                    {% comment %}
                      We have a featured_image, so it's likely a product
                    {% endcomment %}
                    <div class="grid__item one-third">
                      <a href="{{ item.url }}" title="{{ item.title | escape }}">
                        {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                      </a>
                    </div>
                  {% elsif item.image %}
                    {% comment %}
                      Image for page / articles
                    {% endcomment %}
                    <div class="grid__item one-third">
                      <a href="{{ item.url }}" title="{{ item.title | escape }}">
                        {{ item.image.src | img_url: 'medium' | img_tag: item.title }}
                      </a>
                    </div>
                  {% endif %}

                  {% comment %}
                    If we don't have a featured_image, add a push-- class to keep the alignment the same
                  {% endcomment %}
                  <div class="grid__item two-thirds {% unless item.featured_image or item.image %}push--one-third{% endunless %} text-left">
                    <h3 class="standard-index search-result-title">{{ item.title | link_to: item.url }}</h3>

                    {% if item.price %}
                      <p class="subheader">
                        {% comment %}
                          You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                          if your variants have different prices.
                        {% endcomment %}
                        {% if on_sale %}
                          {% if item.price_varies %}
                            {% assign sale_price = item.price | money %}
                            {{ 'products.general.from_text_html' | t: price: sale_price }}
                          {% else %}
                            {% unless sold_out %}
                            {{ item.price | money }}
                            {% endunless %}
                          {% endif %}
                        {% else %}


                        {% if item.price_varies %}
                            {% assign price = item.price | money %}
                            {{ 'products.general.from_text_html' | t: price: price }}
                          {% else %}
                            {% unless sold_out %}
                            {{ item.price | money }}
                            {% endunless %}
                          {% endif %}
                        {% endif %}

                        {% if sold_out %}
                          <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
                        {% endif %}

                        {% if on_sale %}
                          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                          <s>{{ item.compare_at_price | money }}</s>
                        {% endif %}
                      </p>
                    {% endif %}

                    {% comment %}
                      Get a brief excerpt of raw text from the page/product
                    {% endcomment %}
                    <p class="feature-copy text-left">{{ item.content | strip_html | truncatewords: 50 }}</p>
                  </div>
                </div>
                {% unless forloop.last %}<hr>{% endunless %}
              </div>
              <!-- //list search results-->
            {% else %}
              <!-- begin grid search results-->
              <div class="grid__item search-result large--one-quarter medium--one-half">

                <a class="product-grid-link" href="{{ item.url }}">

                {% if on_sale %}
                  <div class="product-grid-on-sale">{{ 'products.product.on_sale' | t }}</div>
                {% endif %}

                {% if item.featured_image %}
                <div class="grid__image">
                  <img src="{{ item.featured_image.src | img_url: 'large' }}" alt="{{ item.featured_image.alt | escape }}">
                </div>
                {% endif %}

                {% if item.author %}
                {% if item.image %}
                  <div class="grid__image">
                    <img src="{{ item.image.src | img_url: 'large' }}" alt="{{ item.title | escape }}">
                  </div>
                {% endif %}
                {% endif %}

                <!--</a>-->

                <p class="h6">
                  <span class="product-grid-title">{{ item.title }}</span>
                </p>
                <p class="price">
                  {% comment %}
                    You can show a leading 'from' or 'up to' by checking 'product.price_varies'
                    if your variants have different prices.
                  {% endcomment %}

                  {% if on_sale %}
                    {% if product.price_varies %}
                      {% assign sale_price = item.price | money %}
                      {{ 'products.general.from_text_html' | t: price: sale_price }}
                    {% else %}
                      {% unless sold_out %}
                      {{ item.price | money }}
                      {% endunless %}
                    {% endif %}
                  {% else %}


                  {% if item.price_varies %}
                      {% assign price = item.price | money %}
                      {{ 'products.general.from_text_html' | t: price: price }}
                    {% else %}
                      {% unless sold_out %}
                      {{ item.price | money }}
                      {% endunless %}
                    {% endif %}
                  {% endif %}

                  {% if sold_out %}
                    <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
                  {% endif %}

                  {% if on_sale %}
                    <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                    <s>{{ item.compare_at_price | money }}</s>
                  {% endif %}
                </p>

                </a>

              </div>

              <!-- //grid search results-->
            {% endif %}

          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
        <div class="pagination secondary grid--table">
          <div class="grid__item one-quarter text-left">
            {% if paginate.previous.is_link %}
              <a href="{{ paginate.previous.url }}" class="previous-paginate">
                 <span class="prev-arrow">{% include 'icon-back' %}</span>
                {{ paginate.previous.title | replace: '&laquo;', '' }}
              </a>
          {% endif %}
          </div>

          <div class="grid__item one-half small--hide">

            {{ 'collections.pagination.item_count_label' | t }} {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} of {{ paginate.items }}.

          </div>

          <div class="grid__item one-quarter text-right">
            {% if paginate.next.is_link %}
                <a href="{{ paginate.next.url }}">{{ paginate.next.title | replace: '&raquo;', '' }}
                   <span class="next-arrow">{% include 'icon-forward' %}</span>
                </a>
            {% endif %}
          </div>
        </div>
        {% endif %}

      {% endif %}
    </div>
  </div>

{% endpaginate %}

</section>

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
