{% if section.settings.background_image != blank %}
<div class="password-background lazyload"
     data-bgset="{{ section.settings.background_image | img_url: '2000x' }}"
     data-sizes="auto"></div>
<style>
  .password-background {
    filter: blur({{ section.settings.background_blur }}px);
    background-position: {{ section.settings.bg_pos_x }} {{ section.settings.bg_pos_y }};
  }

  .password-page {
    {% assign overlay_opacity = section.settings.background_overlay | divided_by: 100.0 %}
    background-color: {{ settings.color_body_bg | color_modify: 'alpha', overlay_opacity }};
  }
</style>
{% endif %}

{% schema %}
{
  "name": "Background Image",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "bg_pos_y",
      "label": "Vertical position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "bg_pos_x",
      "label": "Horizontal position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "background_blur",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Background blur",
      "default": 0
    },
    {
      "type": "range",
      "id": "background_overlay",
      "min": 0,
      "max": 90,
      "step": 10,
      "unit": "%",
      "label": "Background overlay",
      "default": 90
    }
  ]
}
{% endschema %}