<!-- /snippets/header_logo.liquid -->
{% comment %}
  Use the uploaded logo from theme settings if enabled.
  Site name gets precedence with H1 tag on homepage, div on other pages.
{% endcomment %}

<div class="h1 site-header__logo {% unless settings.logo_use_image %} text-active {% endunless %}">
  {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
  {% capture image_size_px %}{{ section.settings.logo_max_width | escape }}px{% endcapture %}
  {% capture image_size_2x %}{{ section.settings.logo_max_width | times: 2 }}x{% endcapture %}
  {% if section.settings.logo %}
    <a href="{{ routes.root_url }}" class="site-header__logo-link">
      <img src="{{ section.settings.logo | img_url: image_size_2x }}" alt="{{ shop.name }}" width="{{ image_size }}">
    </a>
  {% else %}
    <a href="{{ routes.root_url }}">{{ shop.name }}</a>
  {% endif %}
</div>