<div class="wrapper tour-item-wrapper">

  <div class="section-content">
     <div class="grid--full grid--table tour-item">
       <div class="grid__item one-tenth small--two-tenths text-left">
         <div class="tour-date">
           <div class="date-day section-title">23</div>
           <div class="date-month section-title">{{ 'Feb' | time_tag: format: 'month_abbr' , datetime: '%B' }}</div>
         </div>
       </div>
        <div class="grid__item seven-tenths small--eight-tenths">
         <a class="ticket-link" href="" target="_blank">
           <div class="event-location feature-copy">{{ 'homepage.tour.tour_location' | t }}</div>
           <div class="event-venue subheader">{{ 'homepage.tour.tour_venue' | t }}</div>
         </a>
       </div>
        <div class="grid__item two-tenths text-right small--hide">
         <a href="" target="_blank" class="subheader ticket-link">{{ 'homepage.tour.tour_ticket_link' | t }}</a>
       </div>
     </div>

     <div class="grid--full grid--table tour-item">
       <div class="grid__item one-tenth small--two-tenths text-left">
         <div class="tour-date">
           <div class="date-day section-title">25</div>
           <div class="date-month section-title">{{ 'Mar' | time_tag: format: 'month_abbr' , datetime: '%B' }}</div>
         </div>
       </div>
        <div class="grid__item seven-tenths small--eight-tenths">
         <a class="ticket-link" href="" target="_blank">
           <div class="event-location feature-copy">{{ 'homepage.tour.tour_location' | t }}</div>
           <div class="event-venue subheader">{{ 'homepage.tour.tour_venue' | t }}</div>
         </a>
       </div>
        <div class="grid__item two-tenths text-right small--hide">
         <a href="" target="_blank" class="subheader ticket-link">{{ 'homepage.tour.tour_ticket_link' | t }}</a>
       </div>
     </div>

     <div class="grid--full grid--table tour-item">
       <div class="grid__item one-tenth small--two-tenths text-left">
         <div class="tour-date">
           <div class="date-day section-title">02</div>
           <div class="date-month section-title">{{ 'Apr' | time_tag: format: 'month_abbr' , datetime: '%B' }}</div>
         </div>
       </div>
        <div class="grid__item seven-tenths small--eight-tenths">
         <a class="ticket-link" href="" target="_blank">
           <div class="event-location feature-copy">{{ 'homepage.tour.tour_location' | t }}</div>
           <div class="event-venue subheader">{{ 'homepage.tour.tour_venue' | t }}</div>
         </a>
       </div>
        <div class="grid__item two-tenths text-right small--hide">
         <a href="" target="_blank" class="subheader ticket-link">{{ 'homepage.tour.tour_ticket_link' | t }}</a>
       </div>
     </div>

     <div class="grid--full grid--table tour-item">
       <div class="grid__item one-tenth small--two-tenths text-left">
         <div class="tour-date">
           <div class="date-day section-title">14</div>
           <div class="date-month section-title">{{ 'May' | time_tag: format: 'month_abbr' , datetime: '%B' }}</div>
         </div>
       </div>
        <div class="grid__item seven-tenths small--eight-tenths">
         <a class="ticket-link" href="" target="_blank">
           <div class="event-location feature-copy">{{ 'homepage.tour.tour_location' | t }}</div>
           <div class="event-venue subheader">{{ 'homepage.tour.tour_venue' | t }}</div>
         </a>
       </div>
        <div class="grid__item two-tenths text-right small--hide">
         <a href="" target="_blank" class="subheader ticket-link">{{ 'homepage.tour.tour_ticket_link' | t }}</a>
       </div>
     </div>

     <div class="grid--full grid--table tour-item">
       <div class="grid__item one-tenth small--two-tenths text-left">
         <div class="tour-date">
           <div class="date-day section-title">18</div>
           <div class="date-month section-title">{{ 'Aug' | time_tag: format: 'month_abbr' , datetime: '%B' }}</div>
         </div>
       </div>
        <div class="grid__item seven-tenths small--eight-tenths">
         <a class="ticket-link" href="" target="_blank">
           <div class="event-location feature-copy">{{ 'homepage.tour.tour_location' | t }}</div>
           <div class="event-venue subheader">{{ 'homepage.tour.tour_venue' | t }}</div>
         </a>
       </div>
        <div class="grid__item two-tenths text-right small--hide">
         <a href="" target="_blank" class="subheader ticket-link">{{ 'homepage.tour.tour_ticket_link' | t }}</a>
       </div>
     </div>


  </div>

</div>