{% if featured_image != blank %}
  <a href="{{ product.url }}" >
    {% capture img_id %}ProductImage-{{ featured_image.id }}{% endcapture %}
    {% capture wrapper_id %}ProductImageWrapper-{{ featured_image.id }}{% endcapture %}
    {% assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    {% include 'image-style' with image: featured_image, width: '1000', height: '1000', small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
    <div id="{{ wrapper_id }}" class="resp-img-wrapper js">
      <div style="padding-top:{{ 1 | divided_by: featured_image.aspect_ratio | times: 100}}%;">
        <img
          id="ProductPhotoImg"
          class="resp-img product-single__photo lazyload {{ img_id_class }}"
          src="{{ featured_image | img_url: '300x300' }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 590, 720, 900, 1080, 1296, 1512, 1728, 2048]"
          data-aspectratio="{{ featured_image.aspect_ratio }}"
          data-sizes="auto"
          data-image-id="{{ featured_image.id }}"
          alt="{{ product.featured_media.alt | escape }}"
          data-product-featured-image>
      </div>
    </div>
    <noscript>
      <img id="{{ wrapper_id }}" class="product-single__photo"
        src="{{ featured_image | img_url: 'master' }}"
        {% if section.settings.zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %}
        alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
    </noscript>
  </a>
  {% else %}
  <a href="/admin/themes/{{ theme.id }}/settings" rel="gallery-1" class="product__placeholder" >
    {{ 'image' | placeholder_svg_tag }}
  </a>
  {% endif %}