<!-- /snippets/tags-article.liquid -->
{% comment %}

  This snippet renders a list item with all tags listed out.
  It is used in article.liquid and blog.liquid.

  More information:
   - index#article-tags
   - http://docs.shopify.com/themes/liquid-variables/article

{% endcomment %}

{% if article.tags.size > 0 %}
<ul class="tag-list no-bullets {{ inline_class }}">  
  <li>
    <span class="tag-title">{{ 'blogs.article.tags' | t }}:</span>
  </li>
  {% for tag in article.tags %}
  <li>
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% if inline_class == 'inline-list' %}{% unless forloop.last %}, {% endunless %}{% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
